<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table for farmers --}}
<h2>Farmers</h2>
<table id="farmers-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Farmer ID</th>
            <th>Name</th>
            <th>Contact Person</th>
            <th>Location</th>
            <th>Crop Type</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the product type, quantity, location, and delete button --}}
        {{#each data}}
        <tr data-value={{this.name}}>
            <td>{{this.farmerID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.contactPerson}}</td>
            <td>{{this.location}}</td>
            <td>{{this.cropType}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Adding Inventory with AJAX</h2>
<p>To add a new inventory item, please enter its information below and click 'Submit'!</p>
<form id="add-farmer-form-ajax">
    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">
    
    <label for="input-contactPerson">Quantity: </label>
    <input type="text" name="input-contactPerson" id="input-contactPerson">

    <label for="input-location">Location: </label>
    <input type="text" name="input-location" id="input-location">

    <label for="input-cropType">Crop Type: </label>
    <input type="text" name="input-cropType" id="input-cropType">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_farmer.js"></script>