<!-- 
Citation for general JavaScript files
Date: 06/10/2024
Adapted from JavaScript pages for the BSG Planets People Entity in the Developing in Node.JS Exploration Module.

Source URLs: 
- https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Sales Orders Section --}}
<h2>Sales Orders</h2>
<table id="sales-orders-table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Product Type</th>
            <th>Quantity</th>
            <th>Customer ID</th>
            <th>Order Date</th>
            <th>Status</th>
            <th>Inventory ID</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value={{this.orderID}}>
            <td>{{this.orderID}}</td>
            <td>{{this.productType}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.customerID}}</td>
            <td>{{this.orderDate}}</td>
            <td>{{this.status}}</td>
            <td>{{this.inventoryID}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add New Sales Order</h2>

<form id="add-sales-order-form-ajax">
    <label for="input-product-type">Product Type: </label>
    <input type="text" name="input-product-type" id="input-product-type" required>
    
    <label for="input-quantity">Quantity: </label>
    <input type="number" name="input-quantity" id="input-quantity" required>
    
    <label for="input-customer-id">Customer ID: </label>
    <input type="number" name="input-customer-id" id="input-customer-id" required>
    
    <label for="input-order-date">Order Date: </label>
    <input type="date" name="input-order-date" id="input-order-date" required>
    
    <label for="input-status">Status: </label>
    <input type="text" name="input-status" id="input-status" required>
    
    <label for="input-inventory-id">Inventory ID: </label>
    <input type="number" name="input-inventory-id" id="input-inventory-id">
    
    <input type="submit">
</form>
<script src="./js/add_sales_order.js"></script>
